.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  background-color: rgb(80, 79, 84);
  width: 100%;
  border-bottom: 1px solid blueviolet;
  padding: 12px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: left;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 30px;
  line-height: 1.2;
  color: rgb(171, 171, 171);
  font-weight: 500;
  text-decoration: none;
  color: rgb(185, 183, 183);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: rgb(255, 255, 255);
}

.active {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.userBlock {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;
}

.userName {
  color: rgb(246, 246, 150);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.userAtributs {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.userEmail {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userAvatar:hover,
.userAvatar:focus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  text-align: center;
  width: 100px;
  height: 30px;
  line-height: 1.2;
  color: rgb(171, 171, 171);
  font-weight: 500;
  text-decoration: none;
  color: rgb(185, 183, 183);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: rgb(255, 255, 255);
}

.btnActive {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.daySwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.daySwitcher:hover,
.daySwitcher:focus {
  color: rgb(255, 255, 255);
}

.nightSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.homePageEnter {
  align-items: center;
  display: flex;
  gap: 16px;
}

.themeSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
